.header {
  padding: 20px 0;

  @include media(lg) {
    padding: 16px 0;
  }

  &__container {
    padding: 0 30px;
    display: flex;
    align-items: center;

    @include media(lg) {
      padding: 0 16px;
    }
  }

  &__logo {
    display: block;
    margin-right: 110px;

    @include media(xxl) {
      margin-right: 40px;
    }

    @include media(sm)  {
      width: 80px;
    }
  }

  &__projects {
    
    @include media(xs) {
      display: none;
    }

    &-numbers {
      display: flex;
      align-items: center;
      gap: 2px;
    }

    &-number {
      position: relative;
      padding: 5px;
      border: 1px solid var(--color-grey);
      overflow: hidden;
      border-radius: 2px;
      z-index: 1;
      font-size: 20px;
      line-height: 1;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        inset: 0 0 auto;
        background-color: var(--color-grey);
        z-index: -1;
      }
    }

    &-text {
      font-size: 12px;
      line-height: 1;
      margin-top: 7px;
      font-weight: 300;
    }
  }

  &__nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 48px;

    @include media(xxl) {
      gap: 24px;
    }

    @include media(lg) {
      display: none;
    }

    &-links {
      display: flex;
      align-items: center;
      gap: 48px;

      @include media(xxl) {
        gap: 24px;
      }

      @include media(xl) {
        gap: 16px;
      }
    }

    &-link {
      font-size: 18px;
      transition: .25s ease-in-out;

      @media(any-hover: hover) {
        &:hover {
          color: cl(primary);
        }
      }

      @include media(xxl) {
        font-size: 16px;
      }

      @include media(xl) {
      }
    }
  }

  &__contacts {
    margin-right: 90px;
    text-align: center;

    @include media(xxl) {
      margin-right: 40px;
    }

    @include media(lg)  {
      margin-left: auto;
    }

    @include media(sm)  {
      display: none;
    }

    &-tel {
      font-size: 20px;
      font-weight: 500;
    }

    &-schedule {
      opacity: 0.5;
      font-size: 12px;
      line-height: 1;
      font-weight: 300;
      margin-top: 2px;
    }
  }

  &__btn {
    @include media(sm)  {
      display: none;
    }
  }

  &__burger {
    display: none;

    @include media(lg) {
      display: block;
      --size: 24px;
      width: var(--size);
      height: var(--size);
      position: relative;
      margin-left: 24px;

      span {
        display: block;
        width: var(--size);
        height: 2px;
        background-color: cl(blck);
        position: absolute;
        top: 12px;
        left: 0;
        transition: .25s ease-in-out;
      }

      &::before {
        content: '';
        display: block;
        width: var(--size);
        height: 2px;
        background-color: cl(blck);
        position: absolute;
        top: 4px;
        left: 0;
        transition: .25s ease-in-out;
      }

      &::after {
        content: '';
        display: block;
        width: var(--size);
        height: 2px;
        background-color: cl(blck);
        position: absolute;
        top: 20px;
        left: 0;
        transition: .25s ease-in-out;
      }

      &.is-active {
        z-index: 100;

        &::before {
          display: none;
        }

        span {
          top: 12px;
          left: 0;
          transform: rotate(-45deg);
        }

        &::after {
          top: 12px;
          left: 0;
          transform: rotate(45deg);
        }
      }
    }

    @include media(sm) {
      margin-left: auto;
    }
  }
}