script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
script(src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
script(src="js/app.min.js")