section.modals 
  .container 
    button(type="button" data-modal-target="reg-successful").btn Успешная регистация
    button(type="button" data-modal-target="password-set").btn Пароль успешно создан
    button(type="button" data-modal-target="password-recovery").btn Восстановление пароля
    button(type="button" data-modal-target="password-changed").btn Пароль успешно изменен
    button(type="button" data-modal-target="email-exist").btn Email существует
    button(type="button" data-modal-target="email-not-exist").btn Email не существует