.supplier-profile 
  .supplier-profile__block 
    .supplier-profile__block-head 
      .supplier-profile__block-title основные данные
    .supplier-profile__block-content
      .supplier-profile__section
        .supplier-profile__production 
          .supplier-profile__production-title Поставляемая продукция: 
          .supplier-profile__production-list
            .supplier-profile__production-item
              span 1. Промышленные товары:
              | Оборудование и машины / Запчасти и комплектующие / Инструменты и расходные материалы
            .supplier-profile__production-item
              span 2. Потребительские товары:
              | Одежда и обувь / Электроника и бытовая техника
            .supplier-profile__production-item
              span 3. Строительные материалы:
              | Цемент и отделочные материалы / Деревянные конструкции и профили / Металлические изделия
            .supplier-profile__production-item
              span 4. Промышленные товары:
              | Оборудование и машины / Инструменты и расходные материалы
            .supplier-profile__production-item
              span 5. Потребительские товары:
              | Одежда и обувь / Электроника и бытовая техника
            .supplier-profile__production-item
              span 4. Промышленные товары:
              | Оборудование и машины / Инструменты и расходные материалы
            .supplier-profile__production-item
              span 5. Потребительские товары:
              | Одежда и обувь / Электроника и бытовая техника
            .supplier-profile__production-item
              span 6. Промышленные товары:
              | Оборудование и машины / Инструменты и расходные материалы
            .supplier-profile__production-item
              span 7. Потребительские товары:
              | Одежда и обувь / Электроника и бытовая техника
            .supplier-profile__production-item
              span 8. Промышленные товары:
              | Оборудование и машины / Инструменты и расходные материалы
            .supplier-profile__production-item
              span 9. Потребительские товары:
              | Одежда и обувь / Электроника и бытовая техника
            .supplier-profile__production-item
              span 10. Промышленные товары:
              | Оборудование и машины / Инструменты и расходные материалы
            .supplier-profile__production-item
              span 11. Потребительские товары:
              | Одежда и обувь / Электроника и бытовая техника
            .supplier-profile__production-item
              span 12. Промышленные товары:
              | Оборудование и машины / Инструменты и расходные материалы
          button(type="button").supplier-profile__production-more.link.link--dashed.link--blue 
            span.supplier-profile__production-more-show Показать все
            span.supplier-profile__production-more-hide Скрыть
      .supplier-profile__section
        .supplier-profile__requisite ИНН:
          span 42020289085
      .supplier-profile__section
        .supplier-profile__requisite ИНН:
          span 42020289085
      .supplier-profile__section
        .supplier-profile__buyers 
          .supplier-profile__buyers-title Организации покупателей:
          .supplier-profile__buyers-list 
            .supplier-profile__buyers-item ООО "Название компании"
            .supplier-profile__buyers-item ООО "Название компании"
            .supplier-profile__buyers-item ООО "Название компании"
            .supplier-profile__buyers-item ООО "Название компании"
            .supplier-profile__buyers-item ООО "Название компании"
  .supplier-profile__block 
    .supplier-profile__block-head 
      .supplier-profile__block-title  дополнительные данные
      .supplier-profile__block-controls
        .change-profile
          button(type="button" data-tippy data-content="Пользователям с ролью «Ответственный» предоставляется возможность редактирования и сохранения").change-profile__btn.link.link--blue.link--dashed Изменить
          //- button(type="button").change-profile__apply.btn.btn--sm Сохранить
          //- button(type="button").change-profile__cancel.btn.btn--sm.btn--secondary Отменить
    .supplier-profile__block-content
      .supplier-profile__inputs 
        .form-group 
          label.form-label Полное наименование
          input.form-control(type="text" placeholder="Фамилия" value="ООО Поставщик оборудования")
        .form-group 
          label.form-label Краткое наименование
          input.form-control(type="text" placeholder="Фамилия" value="ANFALOVA")
        .form-group 
          label.form-label Организационно-правовая форма
          input.form-control(type="text" placeholder="Фамилия" value="ООО")
        .form-group 
          label.form-label Юридический адрес
          input.form-control(type="text" placeholder="Фамилия" value="г. Москва, ул. Котельническая набережная, 25к2")
        .form-group 
          label.form-label Фактический адрес
          input.form-control(type="text" placeholder="Фамилия" value="г. Москва, ул. Котельническая набережная, 25к2")
        .form-group 
          label.form-label Контактный телефон организации
          input.form-control(type="text" placeholder="Фамилия" value="+7 (900) 999 99 99")
        .form-group 
          label.form-label Контактный E-mail организации
          input.form-control(type="text" placeholder="Фамилия" value="info@info.ru")