.table 
	table 
		thead 
			tr
				th.table__cell.table__cell--head Логин
				th.table__cell.table__cell--head Фамилия
				th.table__cell.table__cell--head Имя
				th.table__cell.table__cell--head Отчество
				th.table__cell.table__cell--head Статус
				th.table__cell.table__cell--head Роль
				th.table__cell.table__cell--head Права доступа
				th.table__cell.table__cell--head 
		tbody 
			tr
				td.table__cell 	
					.table__email ivan.fedorov@mail.ru
				td.table__cell Федоров
				td.table__cell Иван
				td.table__cell Сергеевич
				td.table__cell 
					.status.status--blue.status--icon(style="--icon: url('../img/icons/clock.svg')") к подтверждению
				td.table__cell пользователь
				td.table__cell 
					.checkboxes-col
						.form-checkbox 
							input(type="checkbox" id="check_01" name="check")
							label(for="check_01") Уведомление о несоответствии
						.form-checkbox 
							input(type="checkbox" id="check_02" name="check")
							label(for="check_02") Работа по рекламациям
						.form-checkbox 
							input(type="checkbox" id="check_03" name="check")
							label(for="check_03") Претензионная деятельность
						.form-checkbox 
							input(type="checkbox" id="check_04" name="check")
							label(for="check_04") Процедура 8D
				td.table__cell 
					.controls 
						button(type="button").btn.btn--disabled.btn--sm Подтвердить
						button(type="button" style="--icon: url('../img/icons/trash.svg')").btn-round 
			tr
				td.table__cell 	
					.table__email konstantindzuba@mail.ru
				td.table__cell Федоров
				td.table__cell Иван
				td.table__cell Сергеевич
				td.table__cell 
					.status.status--green(style="--icon: url('../img/icons/bell.svg')") действующий
				td.table__cell пользователь
				td.table__cell 
					.checkboxes-col
						.form-checkbox 
							input(type="checkbox" id="check_05" name="check")
							label(for="check_05") Уведомление о несоответствии
						.form-checkbox 
							input(type="checkbox" id="check_06" name="check")
							label(for="check_06") Работа по рекламациям
						.form-checkbox 
							input(type="checkbox" id="check_07" name="check")
							label(for="check_07") Претензионная деятельность
						.form-checkbox 
							input(type="checkbox" id="check_08" name="check")
							label(for="check_08") Процедура 8D
				td.table__cell 
					.controls 
						button(type="button" style="--icon: url('../img/icons/trash.svg')").btn-round 
			tr
				td.table__cell 	
					.table__email ivancheko_12@mail.ru
				td.table__cell Федоров
				td.table__cell Иван
				td.table__cell Сергеевич
				td.table__cell
					.status.status--green действующий
				td.table__cell
					.status.status--yellow.status--icon(style="--icon: url('../img/icons/star.svg')") ответственный
				td.table__cell 
					.checkboxes-col
						.form-checkbox 
							input(type="checkbox" id="check_09" name="check")
							label(for="check_09") Уведомление о несоответствии
						.form-checkbox 
							input(type="checkbox" id="check_10" name="check")
							label(for="check_10") Работа по рекламациям
						.form-checkbox 
							input(type="checkbox" id="check_11" name="check")
							label(for="check_11") Претензионная деятельность
						.form-checkbox 
							input(type="checkbox" id="check_12" name="check")
							label(for="check_12") Процедура 8D
				td.table__cell 
					.controls 
						button(type="button" style="--icon: url('../img/icons/trash.svg')").btn-round 
			tr
				td.table__cell 	
					.table__email ivancheko_12@mail.ru
				td.table__cell Федоров
				td.table__cell Иван
				td.table__cell Сергеевич
				td.table__cell
					.status.status--green действующий
				td.table__cell пользователь
				td.table__cell 
					.checkboxes-col
						.form-checkbox 
							input(type="checkbox" id="check_09" name="check")
							label(for="check_09") Уведомление о несоответствии
						.form-checkbox 
							input(type="checkbox" id="check_10" name="check")
							label(for="check_10") Работа по рекламациям
						.form-checkbox 
							input(type="checkbox" id="check_11" name="check")
							label(for="check_11") Претензионная деятельность
						.form-checkbox 
							input(type="checkbox" id="check_12" name="check")
							label(for="check_12") Процедура 8D
				td.table__cell 
					.controls 
						button(type="button" style="--icon: url('../img/icons/trash.svg')").btn-round 
			tr
				td.table__cell 	
					.table__email ivancheko_12@mail.ru
				td.table__cell Федоров
				td.table__cell Иван
				td.table__cell Сергеевич
				td.table__cell
					.status.status--green действующий
				td.table__cell пользователь
				td.table__cell 
					.checkboxes-col
						.form-checkbox 
							input(type="checkbox" id="check_09" name="check")
							label(for="check_09") Уведомление о несоответствии
						.form-checkbox 
							input(type="checkbox" id="check_10" name="check")
							label(for="check_10") Работа по рекламациям
						.form-checkbox 
							input(type="checkbox" id="check_11" name="check")
							label(for="check_11") Претензионная деятельность
						.form-checkbox 
							input(type="checkbox" id="check_12" name="check")
							label(for="check_12") Процедура 8D
				td.table__cell 
					.controls 
						button(type="button" style="--icon: url('../img/icons/trash.svg')").btn-round 