.table 
	table 
		thead 
			tr
				th.table__cell.table__cell--head Дата
				th.table__cell.table__cell--head Номер уведомления
				th.table__cell.table__cell--head Статус
				th.table__cell.table__cell--head Организация покупателя
				th.table__cell.table__cell--head Сумма
				th.table__cell.table__cell--head Новые сообщения
				th.table__cell.table__cell--head Номер рекламации
				th.table__cell.table__cell--head 
		tbody 
			tr
				td.table__cell 14.10.2024
				td.table__cell 1
				td.table__cell 
					.status.status--icon.status--yellow(style="--icon: url('../img/icons/bell.svg')") новый
				td.table__cell ООО "Поставщик оборудования"
				td.table__cell 104.000 руб.
				td.table__cell 3
				td.table__cell 42365-Р/26
				td.table__cell 
					.controls 
						a(href="#" style="--icon: url('../img/icons/download.svg')").btn-round 
						button(type="button" style="--icon: url('../img/icons/shield.svg')").btn-round 
			tr
				td.table__cell 03.10.2024
				td.table__cell 1
				td.table__cell 
					.status.status--icon.status--green(style="--icon: url('../img/icons/shield-check.svg')") урегулировано без АР
				td.table__cell ООО "РЖД"
				td.table__cell 1.204.000 руб.
				td.table__cell 3
				td.table__cell 
				td.table__cell 
					.controls 
						a(href="#" style="--icon: url('../img/icons/download.svg')").btn-round 
						button(type="button" style="--icon: url('../img/icons/shield.svg')").btn-round 
			tr
				td.table__cell 16.09.2024
				td.table__cell 3
				td.table__cell 
					.status.status--icon.status--gray(style="--icon: url('../img/icons/check.svg')") закрыт
				td.table__cell ООО "ЛиАЗ"
				td.table__cell 5.678.000 руб.
				td.table__cell 0
				td.table__cell 42365-Р/25
				td.table__cell 
					.controls 
						a(href="#" style="--icon: url('../img/icons/download.svg')").btn-round 
						button(type="button" style="--icon: url('../img/icons/shield.svg')").btn-round 
			tr
				td.table__cell 14.09.2024
				td.table__cell 1
				td.table__cell 
					.status.status--icon.status--red(style="--icon: url('../img/icons/alert.svg')") просрочен
				td.table__cell ООО "Поставщик оборудования"
				td.table__cell 104.000 руб.
				td.table__cell 3
				td.table__cell 42365-Р/26
				td.table__cell 
					.controls 
						a(href="#" style="--icon: url('../img/icons/download.svg')").btn-round.btn-round--disabled 
						button(type="button" style="--icon: url('../img/icons/shield.svg')").btn-round.btn-round--disabled 
			tr
				td.table__cell 11.09.2024
				td.table__cell 1
				td.table__cell 
					.status.status--icon.status--red(style="--icon: url('../img/icons/alert.svg')") просрочен
				td.table__cell ООО "Поставщик оборудования"
				td.table__cell 104.000 руб.
				td.table__cell 3
				td.table__cell 42365-Р/26
				td.table__cell 
					.controls 
						a(href="#" style="--icon: url('../img/icons/download.svg')").btn-round.btn-round--disabled 
						button(type="button" style="--icon: url('../img/icons/shield.svg')").btn-round.btn-round--disabled 
			tr
				td.table__cell 09.09.2024
				td.table__cell 1
				td.table__cell 
					.status.status--icon.status--gray(style="--icon: url('../img/icons/pencil.svg')") черновик
				td.table__cell ООО "Поставщик оборудования"
				td.table__cell 104.000 руб.
				td.table__cell 3
				td.table__cell 42365-Р/26
				td.table__cell 
					.controls 
						a(href="#" style="--icon: url('../img/icons/download.svg')").btn-round.btn-round--disabled 
						button(type="button" style="--icon: url('../img/icons/shield.svg')").btn-round.btn-round--disabled 
			tr
				td.table__cell 09.09.2024
				td.table__cell 1
				td.table__cell 
					.status.status--icon.status--blue(style="--icon: url('../img/icons/clock.svg')") в работе
				td.table__cell ООО "Поставщик оборудования"
				td.table__cell 104.000 руб.
				td.table__cell 3
				td.table__cell 42365-Р/26
				td.table__cell 
					.controls 
						a(href="#" style="--icon: url('../img/icons/download.svg')").btn-round.btn-round--disabled 
						button(type="button" style="--icon: url('../img/icons/shield.svg')").btn-round.btn-round--disabled 
			tr
				td.table__cell 08.09.2024
				td.table__cell 1
				td.table__cell 
					.status.status--icon.status--darkblue(style="--icon: url('../img/icons/mail.svg')") отправлен
				td.table__cell ООО "Поставщик оборудования"
				td.table__cell 104.000 руб.
				td.table__cell 3
				td.table__cell 42365-Р/26
				td.table__cell 
					.controls 
						a(href="#" style="--icon: url('../img/icons/download.svg')").btn-round.btn-round--disabled 
						button(type="button" style="--icon: url('../img/icons/shield.svg')").btn-round.btn-round--disabled