.header 
  .header__container 
    .header__company ООО "Поставщик оборудования"
      span ИНН 34585595959 / КПП 34585595959
    .header__panel
      .header__pannel-main 
        .header__pannel-icon(style="--icon: url('../img/icons/user.svg')")
        .header__pannel-headmaster Иванов Иван Иванович
          span Генеральный директор 
        .header__pannel-arrow(style="--icon: url('../img/icons/arrow-down.svg')") 
      .header__pannel-dropdown 
        .header__panel-user-info 
        .header__pannel-company 
        button(type="button").header__panel-logout