nav.navigation 
  a.navigation__logo(href="") 
    img(src="./img/logo.svg", alt="")
  .navigation__section 
    a(href="#" style="--icon: url('../img/icons/house.svg')").navigation__item Главная
  .navigation__section 
    .navigation__section-title Рекламационно-претензионная деятельность
    a(href="#" style="--icon: url('../img/icons/file.svg')").navigation__item.is-active Уведомления о несоответствиях
      span.navigation__item-counter 7
    a(href="#" style="--icon: url('../img/icons/chat.svg')").navigation__item Работы по рекламациям
    a(href="#" style="--icon: url('../img/icons/shield.svg')").navigation__item Претензионная работа
      span.navigation__item-counter 1
    a(href="#" style="--icon: url('../img/icons/case.svg')").navigation__item Процедуры 8D
      span.navigation__item-counter 1
  .navigation__section 
    .navigation__section-title настройки
    a(href="#" style="--icon: url('../img/icons/users.svg')").navigation__item Сотрудники
    a(href="#" style="--icon: url('../img/icons/user.svg')").navigation__item Профиль поставщика
  .navigation__section.navigation__section--bottom 
    a(href="#" style="--icon: url('../img/icons/info.svg')").navigation__item Руководство пользователя