doctype html
html(lang="en")
  include mixins/_mixins
  include includes/head
  +head('UNIO')
  body
    include components/header
      main 
        include sections/modals
    include components/footer
    include components/modals/reg-successful
    include components/modals/email-exist
    include components/modals/email-not-exist
    include components/modals/password-changed
    include components/modals/password-recovery
    include components/modals/password-set
    include components/modals/remove-user
    include components/popups/user-profile
    include includes/scripts
