doctype html
html(lang="en")
  include mixins/_mixins
  include includes/head
  +head('Unio')
  body
    include components/header
      main 
        include sections/reg
    include components/footer
    include includes/scripts