doctype html
html(lang="en")
  include mixins/_mixins
  include includes/head
  +head('Установка пароля')
  body
    include components/header
      main 
        include sections/set-password
    include components/footer
    include includes/scripts