doctype html
html(lang="ru")
	include mixins/_mixins
	include includes/head
	+head('Профиль поставщика')
	body 
		main 
			.wrapper 
				include components/navigation
				.content 
					include components/header-panel
					+heading('Профиль поставщика', ['Главная', 'Профиль поставщикаи'])
					include sections/supplier-profile
		include includes/scripts