.modal.modal--m(id="email-exist" data-modal)
  .modal__overlay 
  .modal__content   
    button(type="button" data-modal-close).modal__close
    .modal__title Ваш E-mail связан с учетной записью
    .modal__controls 
      button(type="button").modal__btn.btn.btn--wide Войти
      button(type="button").modal__btn.btn.btn--gray.btn--wide Восстановить пароль