.modal(data-modal id="password-recovery") 
  .modal__overlay 
  .modal__content   
    button(type="button" data-modal-close).modal__close
    .modal__title Пароль успешно изменен!
    .modal__text Теперь в ваш личный кабинет можно попасть только по новому паролю