.modal(data-modal id="reg-successful") 
  .modal__overlay 
  .modal__content   
    button(type="button" data-modal-close).modal__close
    .modal__title Вы успешно зарегистрированы!
    .modal__text В ближайшее время к вам на почтовый ящик <a href="#">ivanov.fedor@mail.ru</a> придет ссылка с подтверждением