.section {
  padding: 140px 0;

  + .section {
    padding-top: 0;
  }

  @include media(md) {
    padding: 80px 0;
  }

  @include media(sm) {
    padding: 64px 0;
  }

  &__title {
    margin-bottom: 60px;

    @include media(md)  {
      margin-bottom: 40px;
    }
  }
}