.attention-block {
  display: inline-block;
  width: auto;
  padding: 8px 8px 8px 30px;
  position: relative;
  background: url('../img/icons/alert-info.svg') left 6px center / 20px no-repeat;
  font-size: 16px;
  line-height: 1;
  color: var(--color-red);
  background-color: rgba(220, 38, 38, 0.06);
}