@font-face {
  font-family: 'BrutalType';
  src: url('../fonts/BrutalType.woff') format('woff'),
       url('../fonts/BrutalType.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrutalType';
  src: url('../fonts/BrutalType-Medium.woff') format('woff'),
       url('../fonts/BrutalType-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}